### Tuple

- 인덱스(0 부터 1씩 증가)를 통해 다수의 기억장소를 관리하는 컬렉션
- 생성시 관리할 값들을 설정해주고 이후로는 수정이 불가하다.

In [1]:
# tuple 함수를 사용한 생성. 
# tuple은 생성되지만 관리하는 값이 없다.
t1 = tuple()
print(type(t1))
print(t1)

<class 'tuple'>
()

In [2]:
# 괄호 없이 값만 나열해 주면 tuple이 생성된다.
t4 = 10, 20, 30, 40, 50
print(type(t4))
print(t4)

<class 'tuple'>
(10, 20, 30, 40, 50)

In [6]:
# 함수의 반환값을 tuple로 정의해서 반환한다.
def test1(a1, a2) :
    r1 = a1 + a2
    r2 = a1 - a2
    r3 = a1 * a2
    r4 = a1 // a2
    
    # 반환할 값들이 tuple로 생성되서 tuple 이 반환된다.
    return r1, r2, r3, r4

In [7]:
k1 = test1(10, 20)
print(type(k1))
print(k1)

<class 'tuple'>
(30, -10, 200, 0)

### Tuple이 관리하는 값에 접근한다.(Indexing)

In [8]:
t1 = 10, 20, 30, 40, 50
t1

(10, 20, 30, 40, 50)

In [9]:
# 0 부터 1씩 증가되는 인덱스 번호를 통해 값을 추출할 수 있다.
print(t1[0])
print(t1[1])
print(t1[2])

10
20
30

In [10]:
# - 인덱스를 제공한다.
# - 인덱스는 뒤에서 부터 접근한다.
print(t1[-1])
print(t1[-2])
print(t1[-3])

50
40
30

In [11]:
# 분해. 
# tuple. list 등이 관리하는 값의 개수 만큼 변수를 나열해 주면
# 1:1 대응하여 변수에 담기게 된다.
a1, a2, a3, a4, a5 = t1
print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

10
20
30
40
50

In [12]:
# 함수 호출 시 함수가 반환하는 것이 튜플이라면 분해 개념을 사용한다.
a1, a2, a3, a4 = test1(10, 3)
print(a1)
print(a2)
print(a3)
print(a4)

13
7
30
3

In [13]:
t1 = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
t1

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [14]:
# 인덱스 2 ~ 7 - 1 까지
t2 = t1[2:7]
t2

(30, 40, 50, 60, 70)

In [15]:
# 처음 부터 7 - 1 까지
t3 = t1[0:7]
t3

(10, 20, 30, 40, 50, 60, 70)

In [16]:
# 인덱스 2 부터 끝까지
t4 = t1[2:]
t4

(30, 40, 50, 60, 70, 80, 90, 100)