### List
- tuple과 동일하고 내부의 데이터를 수정, 삭제, 추가 등이 가능한 컬렉션
- 데이터를 가져오거나 원본을 유지하고 작업이 반영된 요소를 새롭게 만들어 반환하는 것들은 tuple 도 똑같이 사용 가능하다.
- 원본이 바뀌는 작업은 list만 지원한다.

In [1]:
# 비어있는 리스트 생성. 나중에 추가가 가능하므로 의미가 있다.
a1 = list()
print(type(a1))
print(a1)

<class 'list'>
[]

In [2]:
a2 = []
print(type(a2))
print(a2)

<class 'list'>
[]

In [3]:
a3 = [10, 20, 30, 40, 50]
print(type(a3))
print(a3)

<class 'list'>
[10, 20, 30, 40, 50]

In [4]:
a1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
a1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [5]:
k1 = a1[0]
k2 = a1[-1]
k3 = a1[2:7]
k4 = a1[:7]
k5 = a1[2:]

print(k1)
print(k2)
print(k3)
print(k4)
print(k5)

10
100
[30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70]
[30, 40, 50, 60, 70, 80, 90, 100]

In [6]:
# 분해
a2 = [10, 20, 30, 40, 50]
k1, k2, k3, k4, k5 = a2
print(k1)
print(k2)
print(k3)
print(k4)
print(k5)

10
20
30
40
50

In [7]:
a1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
a1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [8]:
# 관리하는 데이터의 개수를 반환한다.
k1 = len(a1)
print(k1)

10

In [9]:
# 값 하나를 추가한다.
print(a1)

a1.append(110)
a1.append(120)

print(a1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [11]:
# 리스트의 더하기 연산
a2 = a1 + [130, 140, 150]
print(a1)
print(a2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [12]:
# 리스트 자체에 추가한다.
a1.extend([130, 140, 150])
a1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [13]:
# * 연산 : 곱한 수 만큼 반복한 새로운 요소를 생성한다.
a3 = a1 * 3
print(a1)
print(a3)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [14]:
# 삽입
print(a1)

# (위치, 값)
a1.insert(2, 10000)

print(a1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]
[10, 20, 10000, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [15]:
# 삭제
del a1[2]
print(a1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [16]:
# 값을 통한 삭제, 같은 값이 여러개라면 제일 좌측의 값이 삭제된다.
a1.remove(100)
print(a1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 110, 120, 130, 140, 150]