### for 문
- list, tuple 등과 같이 데이터를 관리하는 요소를 통해 코드를 반복한다.
- 관리하는 데이터의 개수 만큼 반복한다.

In [1]:
a1 = [10, 20, 30, 40, 50]
a1

[10, 20, 30, 40, 50]

In [2]:
for value in a1 :
    print(value)

10
20
30
40
50

In [3]:
# 0 ~ 10 - 1 까지
r1 = range(10)
r1

range(0, 10)

### list -> tuple, tuple -> list
- list를 통해 tuple 을 생성한다.
- tuple을 통해 list 를 생성한다.

In [4]:
# 문자열 -> 정수
a1 = int('100')
print(type(a1))
print(a1)

<class 'int'>
100

In [5]:
# tuple -> list
t1 = 10, 20, 30, 40, 50

a1 = list(t1)
print(type(a1))
print(a1)

<class 'list'>
[10, 20, 30, 40, 50]

In [6]:
# list - > tuple
t2 = tuple(a1)
print(type(t2))
print(t2)

<class 'tuple'>
(10, 20, 30, 40, 50)

### range
- 지정된 범위의 값을 가지는 데이터 관리 요소

In [7]:
# 0 ~ 10 - 1까지
r1 = range(10)
r1

range(0, 10)

In [8]:
# 3 ~ 14 - 1까지
r2 = range(3, 14)
list(r2)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [9]:
# 3 ~ 14 - 1 까지 2씩 증가
r3 = range(3, 14, 2)
list(r3)

[3, 5, 7, 9, 11, 13]

In [10]:
# for문을 20번 반복하겠다....
for value in range(20) :
    print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

### enumerate 
- 리스트, 튜플, range 등 인덱스 번호를 통해 데이터를 관리하는 요소들에 사용할 수 있다.
- 결과는 (인덱스번호, 값) 형태의 튜플들이 들어가 있는 형태로 만들어진다.
- 반복문을 수행할 때 현재가 몇번째 반복 회차인지 파악할 때 사용한다.

In [11]:
t1 = list(range(10, 101, 10))
t1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [12]:
# enumerate
e1 = enumerate(t1)
print(list(e1))

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50), (5, 60), (6, 70), (7, 80), (8, 90), (9, 100)]

In [13]:
for value in enumerate(t1) :
    print(value)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)
(6, 70)
(7, 80)
(8, 90)
(9, 100)

In [14]:
for idx, value in enumerate(t1) :
    print(idx)
    print(value)
    print()

0
10

1
20

2
30

3
40

4
50

5
60

6
70

7
80

8
90

9
100