### 파이썬에서의 문자열
- ''(작은 따옴표), ""(큰 따옴표)로 묶어준다.
- ''' ''', """ """ 로 묶어준 문자열이 존재한다(작성한 데로 관리하는 문자열)
- 문자열 포멧팅을 지원한다.
- 문자열 관리는 리스트나튜플과 비슷하게 관리한다.

### 문자열 생성

In [1]:
str1 = '문자열1'
str2 = "문자열2"

print(str1)
print(str2)

문자열1
문자열2

In [2]:
# 작은 따옴표 문자열 안에 큰 따옴표
str3 = '이름은 "홍길동" 입니다'
# 큰 따옴표 문자열 안에 작은 따옴표
str4 = "이름은 '홍길동' 입니다"

print(str3)
print(str4)

이름은 "홍길동" 입니다
이름은 '홍길동' 입니다

In [4]:
str5 = ''' 나이는 "30살"이고 이름은 '홍길동' 입니다'''
print(str5)

 나이는 "30살"이고 이름은 '홍길동' 입니다

In [5]:
str6 = '''
    동해물과 백두산이
    마르고 닳도록
    하느님이 보우하사
    우리나라 만세
'''
print(str6)

    동해물과 백두산이
    마르고 닳도록
    하느님이 보우하사
    우리나라 만세

### 문자열 포멧팅

In [8]:
a1 = '홍길동'
a2 = 30

# + 연산자를 사용한 문자열 합치기
str1 = '이름은 ' + a1 + '이고 나이는 ' + str(a2) + '살 입니다'
print(str1)

이름은 홍길동이고 나이는 30살 입니다

In [9]:
# 모든 버전에서 사용 가능한 문자열 포멧팅
str2 = '이름은 %s이고 나이는 %d살 입니다' % (a1, a2)
print(str2)

이름은 홍길동이고 나이는 30살 입니다

In [10]:
str3 = '%s님의 나이는 %d살이고, %s님은 정회원 입니다' % (a1, a2, a1)
print(str3)

홍길동님의 나이는 30살이고, 홍길동님은 정회원 입니다

In [13]:
# 파이썬 2.6 부터...
# fotmat 함수에 작성한 값의 순서를 대입한다.
str4 = '님의 나이는 %d살이고, %s님은 정회원 입니다'.format(a1, a2)
print(str4)

님의 나이는 %d살이고, %s님은 정회원 입니다

In [12]:
# 파이썬 2.6 부터...
# fotmat 함수에 작성한 값의 순서를 대입한다.
str4 = '{0}님의 나이는 {1}살이고, {0}님은 정회원 입니다'.format(a1, a2)
print(str4)

홍길동님의 나이는 30살이고, 홍길동님은 정회원 입니다

In [14]:
# 파이썬 3.1 부터..
# 변수를 직접 대입해준다.
# 문자열 앞에 f를 붙혀준다.
str5 = f'{a1}님의 나이는 {a2}살이고, {a1}님은 정회원 입니다'
print(str5)

홍길동님의 나이는 30살이고, 홍길동님은 정회원 입니다

### 인덱싱, 슬라이싱

In [15]:
str1 = '동해물과 백두산이'

# 튜플이나 리스트 처럼 인덱스 번호로 접근할 수 있다.
print(str1[0])
print(str1[1])
print(str1[-1])
print(str1[-2])

동
해
이
산

In [16]:
# 2 ~ 7-1
print(str1[2:7])
# 처음 부터 7-1까지
print(str1[:7])
# 2 ~ 끝까지
print(str1[2:])

물과 백두
동해물과 백두
물과 백두산이

### 문자열 함수들

In [18]:
str1 = '동해물과 백두산이 동해물과 한라산이'

In [20]:
# 문자열 찾기
# 좌측에서 부터 찾기
print(str1.find('동해'))
# 뒤에서 부터 찾기
print(str1.rfind('동해'))

0
10

In [21]:
str1 = '동해물과 백두산이 동해물과 지리산이 동해물과 한라산이'

In [22]:
# 문자열 찾기
# 좌측에서 부터 찾기
print(str1.find('동해'))
# 뒤에서 부터 찾기
print(str1.rfind('동해'))
# 좌측에서 부터 5글자 빼고 찾기
print(str1.find('동해', 5))

0
20
10

In [23]:
str1 = '동해_물과 백두_산이'
# 문자열 나누기
# 띄어쓰기를 통해 나누기
str2 = str1.split()
print(str2)

['동해_물과', '백두_산이']

In [24]:
# 문자열을 지정해 나누기
str3 = str1.split('_')
print(str3)

['동해', '물과 백두', '산이']

In [ ]:
str10 = '     동해물과      '

print(f'[{str10}]')
print(f'[{str10.lstrip()}]')
print(f'[{str10.rstrip()}]')
print(f'[{str10.strip()}]')